<div class="col-lg-12">
  <ol class="breadcrumb ">
    <a class="btn btn-outline-primary offset-md-10 btn-sm" data-toggle="modal" data-target="#exampleModal" href="#"><i class="fa fa-quora" aria-hidden="true"></i>Nuevo</a>
  </ol>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">{{ name }}</div>
        <div class="card-body">
          body Banner 45
        </div>

      </div>
    </div>
  </div>
</div>
